
		/* Color Scheme: seafoam */
		/* Header Image: coast */		
		html, body, p {
			/********************************* color: grey ************************/
			color: #6a6461;
		}
		a {
			/********************************* color: aqua-blue; ******************/
			color: #7bbaa5;
		}
		a:hover {
			/********************************** color: dark-blue; ******************/
			color: #002f43;
		}
		.business-info, .sidebar input[type="submit"] {
            /***************************** color: light-blue ********************/
			background-color: #cce1d8;
		}
		h1.site-title, h1.site-title {
        /********************************* color: grey ************************/
			color: #4b5259;
		}
		#main-nav {
        /********************************* color: bright-blue ************************/
			background-color: #0eb9b4;
		}
		#main-nav li a:hover {
        /********************************** color: dark-blue; ******************/
			color: #002f43;
		}
		.tabs-menu li {
            /********************************* color: aqua-blue; ******************/
			background: #7bbaa5;
		}
		.tab-content, .current, .tabs-menu li:hover {
        /***************************** color: light-blue ********************/
			border: 0px solid #cce1d8 !important;
			background: #cce1d8 !important;
			background-color: #cce1d8 !important;
		}
		.search, .search p, .tab-content, .tab-content form, .current a,  .fromtosearch label, .current a, #AirSearchForm > div > div.OFtabcontainer.cf > div > dl:nth-child(5) > dd.nextrow.check { /* Changed 12/11/15 */
         /********************************* color: grey ************************/
			color: #4b5259 !important;
		}
		.cDay {
        /***************************** color: light-blue ********************/
			background: #cce1d8;
		}
		.tabsinn ul li a:active, .tabsinn ul li a:hover, .addrow, .removerow, .tabsinn ul li.current a { /* Added 12/15/15 */
        /********************************* color: bright-blue ************************/
			background-color: #0eb9b4;
		}
		.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager { /* Changed 12/16/15 */
            /********************************* color: aqua-blue; ******************/
			background-color: #7bbaa5;
		}
		.O_Nav_Current {
			/* FIXME: rename! */
            /********************************* color: bright-blue ************************/
			background-color: #0eb9b4 !important;
		}
		.slider-buttons-container a:hover {
        /***************************** color: light-blue ********************/
			background-color: #cce1d8 !important;
		}
		aside .title {
            /********************************* color: aqua-blue; ******************/
			background-color: #7bbaa5;
		}
		.call-out { 
			border-bottom: 15px solid #cfd4d0;
		}
		.request { 
            /********************************* color: aqua-blue; ******************/
			border: 1px solid #7bbaa5;
		}
		#sub-nav {
			border-top: 2px solid #cfd4d0;
			border-bottom: 2px solid #cfd4d0;
		}
		.button {
        /********************************* color: bright-blue ************************/
			background-color: #0eb9b4;
		}
		.button::after {
			background-color: #ced4d2;
		}
		.button:hover {
            /********************************* color: aqua-blue; ******************/
			background-color: #7bbaa5;
		}
		.title, .top-destinations a {
			background-color: #7dc3cd;
			color: #ffffff;
		}
		.title2, .top-destinations-two a {
        /********************************* color: bright-blue ************************/
			background-color: #0eb9b4;
		}
		.title3, .top-destinations-three a {
            /********************************* color: aqua-blue; ******************/
			background-color: #7bbaa5;
		}
		.location h3 {
			color: #90958f;
					}
		.maparea {
            /***************************** color: light-blue ********************/
			background-color: #cce1d8;
		}
		.maparea, .divider {
            /***************************** color: light-blue ********************/
			border-bottom: 20px solid #cce1d8;
		}
		#bottom-nav ul {
            /***************************** color: light-blue ********************/
			border-left: 1px solid #cce1d8;
		}
		.bottominfo {
            /********************************* color: aqua-blue; ******************/
			background-color: #7bbaa5;
		}
	


/* font-family: tk-museo-slab */
/* font-family: tk-raleway */

@font-face{font-family:tk-museo-slab-n3;src:url(https://use.typekit.net/af/c4d53f/0000000000000000000100fe/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("woff2"),url(https://use.typekit.net/af/c4d53f/0000000000000000000100fe/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("woff"),url(https://use.typekit.net/af/c4d53f/0000000000000000000100fe/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("opentype");font-weight:300;font-style:normal;}@font-face{font-family:tk-museo-slab-i3;src:url(https://use.typekit.net/af/9daf12/000000000000000000010141/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3) format("woff2"),url(https://use.typekit.net/af/9daf12/000000000000000000010141/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3) format("woff"),url(https://use.typekit.net/af/9daf12/000000000000000000010141/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3) format("opentype");font-weight:300;font-style:italic;}@font-face{font-family:tk-museo-slab-n5;src:url(https://use.typekit.net/af/13f056/000000000000000000012043/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3) format("woff2"),url(https://use.typekit.net/af/13f056/000000000000000000012043/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3) format("woff"),url(https://use.typekit.net/af/13f056/000000000000000000012043/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3) format("opentype");font-weight:500;font-style:normal;}@font-face{font-family:tk-museo-slab-i5;src:url(https://use.typekit.net/af/7be5bc/00000000000000000000ec08/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3) format("woff2"),url(https://use.typekit.net/af/7be5bc/00000000000000000000ec08/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3) format("woff"),url(https://use.typekit.net/af/7be5bc/00000000000000000000ec08/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3) format("opentype");font-weight:500;font-style:italic;}@font-face{font-family:tk-museo-slab-n7;src:url(https://use.typekit.net/af/194e8d/000000000000000000011aff/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff2"),url(https://use.typekit.net/af/194e8d/000000000000000000011aff/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff"),url(https://use.typekit.net/af/194e8d/000000000000000000011aff/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("opentype");font-weight:700;font-style:normal;}@font-face{font-family:tk-museo-slab-i7;src:url(https://use.typekit.net/af/dd6141/00000000000000000000ec0a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("woff2"),url(https://use.typekit.net/af/dd6141/00000000000000000000ec0a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("woff"),url(https://use.typekit.net/af/dd6141/00000000000000000000ec0a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("opentype");font-weight:700;font-style:italic;}@font-face{font-family:tk-raleway-n7;src:url(https://use.typekit.net/af/f6e2e6/000000000000000000013287/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff2"),url(https://use.typekit.net/af/f6e2e6/000000000000000000013287/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff"),url(https://use.typekit.net/af/f6e2e6/000000000000000000013287/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("opentype");font-weight:700;font-style:normal;}@font-face{font-family:tk-raleway-n4;src:url(https://use.typekit.net/af/a4ebe0/000000000000000000013288/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/a4ebe0/000000000000000000013288/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/a4ebe0/000000000000000000013288/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("opentype");font-weight:400;font-style:normal;}@font-face{font-family:tk-raleway-n5;src:url(https://use.typekit.net/af/356eab/000000000000000000013289/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3) format("woff2"),url(https://use.typekit.net/af/356eab/000000000000000000013289/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3) format("woff"),url(https://use.typekit.net/af/356eab/000000000000000000013289/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3) format("opentype");font-weight:500;font-style:normal;}